ul {
  margin: 0;
  padding: 5px 0 5px 0;
  list-style-type: none;
  overflow: hidden;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #fafafa;

  li {
    float: left;
    display: block;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
  }

  li:hover {
    background-color: #eee;
    border-radius: 10px;
  }
}

h2 {
  color: #444;
  margin-top: 10px;
}